In [2]:
import pandas

Titanic={'sex':['Children','Children','Children','Men','Men','Men','Men','Women','Women','Women','Women'],
         'class': ['First','Second','Third','First','Second','Third','Crew','First','Second','Third','Crew'],
         'survived':[6,24,27,57,14,75,192,140,80,76,20],
         'died': [0,0,52,118,154,387,693,4,13,89,3]}

dFrame=pandas.DataFrame(Titanic)
print(dFrame)

         sex   class  survived  died
0   Children   First         6     0
1   Children  Second        24     0
2   Children   Third        27    52
3        Men   First        57   118
4        Men  Second        14   154
5        Men   Third        75   387
6        Men    Crew       192   693
7      Women   First       140     4
8      Women  Second        80    13
9      Women   Third        76    89
10     Women    Crew        20     3

In [9]:
l=[]
for r in dFrame.index:
    if(dFrame.iloc[r]['class']=='Crew'):
        l.append(r)
        
dFrame_2=dFrame.drop(l)
print(dFrame_2)

        sex   class  survived  died
0  Children   First         6     0
1  Children  Second        24     0
2  Children   Third        27    52
3       Men   First        57   118
4       Men  Second        14   154
5       Men   Third        75   387
7     Women   First       140     4
8     Women  Second        80    13
9     Women   Third        76    89

In [3]:
dFrame['Total People']=(dFrame['survived']+dFrame['died'])
print(dFrame)

         sex   class  survived  died  Total People
0   Children   First         6     0             6
1   Children  Second        24     0            24
2   Children   Third        27    52            79
3        Men   First        57   118           175
4        Men  Second        14   154           168
5        Men   Third        75   387           462
6        Men    Crew       192   693           885
7      Women   First       140     4           144
8      Women  Second        80    13            93
9      Women   Third        76    89           165
10     Women    Crew        20     3            23

In [4]:
dFrame=dFrame.drop('Total People',axis=1)
print(dFrame)

         sex   class  survived  died
0   Children   First         6     0
1   Children  Second        24     0
2   Children   Third        27    52
3        Men   First        57   118
4        Men  Second        14   154
5        Men   Third        75   387
6        Men    Crew       192   693
7      Women   First       140     4
8      Women  Second        80    13
9      Women   Third        76    89
10     Women    Crew        20     3

In [5]:
ais=[]
for r in dFrame.index:
    per=(dFrame.iloc[r]['survived']/(dFrame.iloc[r]['survived']+dFrame.iloc[r]['died']))*100
    if(per>80):
        ais.append(r)

dFrame.iloc[ais]

         sex   class  survived  died
0   Children   First         6     0
1   Children  Second        24     0
7      Women   First       140     4
8      Women  Second        80    13
10     Women    Crew        20     3